.DS_Store
node_modules
.env.dev
.env.test
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
logs
.vscode
docs/test/coverage/*
docs/test/report/*

# ignore all files under "files" directory except autofit.csv & automundo.csv file due they are used for testing purposes.
files/*
!files/autofit.csv
!files/automundo.csv